html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.demo-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.demo-main {
  padding-left: 16px;
  padding-bottom: 16px;
  overflow: auto;
}

.app-drawer-layout {
  display: flex;
 
  .mdc-drawer--dismissible {
    top: 64px;
    height: calc(100% - 64px);    
  }
}

.main-content {
  flex: 1;
  /*padding: 1rem;*/
}

.mdc-top-app-bar{
	background-color: white;
	border-bottom: 1px solid #ECEFF1;
}

.material-icons{
	color: #6F6F6F;
}

.mdc-top-app-bar__title{
	margin-top: 6px;
	padding-left: 0;	
}

.gb_Qf.gb_Wf .gb_Df {
    padding-left: 2px;
}
.gb_Df {
    background: transparent;
    border: none;
    font: normal 16px Roboto,sans-serif;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    height: 46px;
    outline: none;
    padding: 11px 16px 11px 16px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

svg[Attributes Style] {
    height: 24px;
    width: 24px;
}
user agent stylesheet
svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

.gb_hf button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 4px;
    line-height: 0;
}

button {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.gb_Df{
	background-color: #F5F5F5;
	max-width: 500px;
	border-radius: 5px;
}

.gb_Ef.gb_Qf, .gb_Rf.gb_Qf {
    padding-left: 2px;
    padding-right: 2px;
}


.gb_Ef, .gb_Rf {
    float: left;
    position: absolute;
    top: 0;
}

.gb_Rf {
    display: none;
}
/*.star{
  padding-bottom: 9px;
}
.date{
  text-align: center;
  margin-top: 12px;
  margin-right: 28px
}
.listit{
  margin-left: 0px;
}
.conte{
  margin-top: 9px;
  margin-left: -20px;
}*/